version: "3" # version for our docker compose file

services: # creating our containers
  source_postgres: # container number1
    image: postgres:latest # image of our container
    ports:
      - "5433:5432"
    networks:
      - elt_network
    environment:
      POSTGRES_DB: source_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    volumes: # This is how we are able to persist data
      - ./source_db_init/init.sql:/docker-entrypoint-initdb.d/init.sql

  destination_postgres:
    image: postgres:latest
    ports:
      - "5434:5432"
    networks:
      - elt_network
    depends_on:
      - source_postgres
    environment:
      POSTGRES_DB: destination_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
  elt_service:
    build: context:./elt_script
      dockerfile:dockerfile
      command:["python","elt_script.py"]
    networks:
      - elt_network
    depends_on: #the container cant run unless the first two are initialised
      - source_postgres
      - destination_postgres

networks:
  elt_network:
    driver: bridge
